


body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e8e9;
}

header {
    background-color: #0b0b0b;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#author-name-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90px; /* Adjust the width as needed */
    background-color: #000000;
    display: flex;
    align-items: center;
}

#author-name {
    font-family: "Brush Script MT";
    writing-mode: vertical-rl;
    text-orientation: mixed; /* Stretches text along the container */
    transform: rotate(180deg);
    padding: 10px;
    color: #fff; 
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
    #author-name-container {
        position: static;
        width: auto;
        display: block;
        text-align: center;
    }

    
    #author-name {
        writing-mode: horizontal-tb;
        transform: none;
    }

   
}



/* Adjustments for smaller screens */
@media (max-width: 600px) {
    #author-name {
        position: static; /* Change position to static for smaller screens */
        writing-mode: horizontal-tb;
        transform: none;
    }

  
}


body {
    background-image: url('banner_cover.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: repeat; /*needed repeating background to cover the entire webpage*/
    
}



header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1em;
}




/*Book info*/

body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #460344;
}

header {
    background-color: #030303;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f0f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 3, 124, 0.1);
}

.book {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000000; /*lines around each book section*/
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-bottom: 5px;
}

.status {
    font-weight: bold;
}

.book-info {
    display: none;
    padding: 10px;
}

footer {
    background-color: #0b0b0b;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


